<%namespace name="jsloader" file="/display/jsloader.html"/>
<%namespace name="dochead"  file="/display/dochead.html"/>
<%namespace name="header"   file="/common/header.html"/>
<%namespace name="footer"   file="/common/footer.html"/>
<%namespace name="modules"  file="/display/modules.html"/>

${dochead.html("Superposed Tests | " + str(c.agg_types))}
${header.html()}
<center>
    <div class="sp-display">
        % if c.chart == "true":
            ${modules.chart()}
        % endif
    
        <p class="title">Aggregated Statistics</p>

        % if c.table == "true":
            ${modules.table()}
        % endif
    </div>
</center>
${jsloader.html()}
${footer.html()}